#example1 {
        background-image: url("企业员工管理系统.png");
        background-size: cover;
        height: 100vh;
        text-align: center;
      }
#example2 {
        background-image: url("登录页面.jpg");
        background-size: cover;
        height: 100vh;
        text-align: center;
      }

  .details {
    
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: absolute;left: 420px;top: 150px;
    width: 400px;
    height: 300px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.form-wrapper {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(0,68,115);
    
}

form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 20px;
}

.label {
    color: #666;
    margin-bottom: 5px;
    display: block;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #444;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #777;
}

button {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(209,158,161);
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: opacity 0.3s;
}
button{
    text-decoration: none;
    position: absolute;left: 20px;top: 338px;
    width: 90%;
}

.a1{
    width: 50px;
    height: 20px;
}

.an{
	width: 90%;
	color: #007ACC;
}
button:hover {
    opacity: 0.8;
}

.bottom-text {
    margin-top: 20px;
    text-align: center;
}

.bottom-text a {
    color:rgb(209,158,161);
    text-decoration: none;
}
  
.da{
	boom:2;
	font-size:30px;
	color:#fff;
}

.s{
	 position: absolute;left: 50px;top: 300px;
}
.b{
	 position: absolute;left: 500px;top:300px;
}

#example {
        background-image: url("企业员工管理系统.png");
        background-size: cover;
        height: 100vh;
        text-align: center;
      }